In [1]:
import pandas as pd
import random

In [2]:
df = pd.read_csv("student.csv", header=None, names=["student_id", "name", "email"])

In [3]:
df["phone"] = [f"{random.randint(6000000000, 9999999999)}" for _ in range(len(df))]
df["department_id"] = [random.randint(1, 4) for _ in range(len(df))]

In [4]:
sql_statements = "INSERT INTO students (student_id, name, email, phone, department_id) VALUES\n"

In [5]:
values = []
for _, row in df.iterrows():
    values.append(f"({row['student_id']}, '{row['name']}', '{row['email']}', '{row['phone']}', {row['department_id']})")

In [6]:
sql_statements += ",\n".join(values) + ";"

In [7]:
with open("insert_students.sql", "w") as f:
    f.write(sql_statements)

In [8]:
print("SQL script saved as insert_students.sql")

SQL script saved as insert_students.sql